.btn {  
  padding: 10px 32px;
  border-radius: 4px;
  border-color: transparent;
  background-color: var(--accent-color);
  font-weight: 700;
  margin: 0 auto;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--light-color);

  transition: color 250ms var(--timing-function);
}

.btn:hover,
.btn:focus {
  color: var(--title-text-color);
}