:root {
  --primary-text-color: #212121;
  --secandary-text-color: #757575;
  --title-text-color: #000;
  --accent-color: #2196f3;
  --light-color: #FFF;
  --grey-color: #F5F4FA;
  --background-dark-color: #2F303A;
  --soc-color: #AFB1B8;
  --shadow-color: #EEEEEE;
  --border-color: #ECECEC;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}