.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;

  opacity: 1;
  z-index: 2;
  transition: opacity 250ms var(--timing-function),
    visibility 250ms var(--timing-function);
  
  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }

  &.is-hidden .modal {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
}

.modal {
  position: absolute;
  padding: 40px 40px;
  top: 0;
  left: 50%;
  
  transform: translateX(-50%) scale(1);
  transition: opacity 250ms var(--timing-function), transform 250ms var(--timing-function);

  min-width: 450px;
  min-height: 609px;
  border-radius: 4px;
  background: var(--light-color);

  @media screen and (min-width: 1200px) {
      min-width: 528px;
      min-height: 581px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1);
    }
  
  &__heading {
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
  }

  &__input {
    width: 100%;
    height: 40px;
    padding: 12px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    font-weight: 400;
    font-size: 12px;
    color: var(--primary-text-color);

    transform: border-color 250ms var(--timing-function);
  }

  &__input::placeholder {
    color: var(--accent-color);
    font-weight: 700;
  }

  &__input:hover,
  &__input:focus {
    border-color: var(--accent-color);
  }
  &__input-group {
    display: block;
    margin-bottom: 10px;
  }

  &__input-wrapper {
    position: relative;
  }
  &__input-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    fill: currentColor;
  }

  &__input:hover+&__input-icon {
    fill: var(--accent-color);
  }

  &__input:focus+&__input-icon {
    fill: var(--accent-color);
  }

  &__close {
    position: absolute;
    padding: 0;
    top: 8px;
    right: 8px;
    border: var(--light-color);
  }
}

.modal__input-wrapper input {
  outline: none;
}

.lab-form {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: var(--secandary-text-color);
}

.modal__text {
  width: 100%;
  height: 120px;  
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  outline: none;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);

  &:hover,
  &:focus {
    background-color: transparent;
    border-color: var(--accent-color);
  }
}

.center-checkbox {
  display: flex;
  padding: 0 0;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    padding: 0 14px;
  }
}

.modal__checkbox {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-grow: 1;
  padding: 0 0;

  @media screen and (min-width: 1200px) {
      padding: 0 14px;
    }
}

.modal__conditions {
  position: relative;
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.03em;
  color: var(--secandary-text-color);

  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}

.checkbox {
  display: none;
  appearance: none;

  &__icon {
    display: flex;
    margin-right: 10px;
    width: 16px;
    height: 16px;
    border: 2px solid var(--primary-text-color);
    border-radius: 2px;
  }

  &:checked+&__icon {
    border-color: transparent;
    background-color: var(--accent-color);
    background-image: url(../images/check.svg);
    background-size: contain;
    background-origin: border-box;
  }
}

.modal__umovi {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  margin-left: 6px;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  outline: none;  

  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.form-send-btn {  
  padding: 10px 52px;
  border-radius: 4px;
  border-color: transparent;
  background-color: var(--accent-color);
  font-weight: 700;
  margin: 0 auto;
  outline: none;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--light-color);

  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--title-text-color);
  }
}
.modal__close {
  width: 30px;
  height: 30px;
  padding: 6px;
  outline: none;  
}

.close-icon {   
  background-color: transparent;
  fill: var(--title-text-color);  

  &:hover,
  &:focus {
    fill: var(--accent-color)
  }
}